<div *observe="usersStream$ as value; before loadingTemplate; error errorTemplate"
   class="message">

  <span *ngFor="let user of value">
    {{ user.name }}<br>
  </span>

  <ng-container *ngIf="value[0]?.name">
    <p>this is a user array</p>
  </ng-container>
</div>

<ng-template #loadingTemplate>
  <p class="loading">Loading ...</p>
</ng-template>

<ng-template #errorTemplate let-error>
  <p class="error">{{ error }}</p>
</ng-template>

<div>
  <button (click)="createUsersSuccess()">Create Users[] Observable</button>
  <br>
  <button (click)="createError()">Create Observable with Error</button>
  <br>
</div>
